/* Scrollbar design*/
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.counter {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 13px;
    color: rgb(128, 128, 128);
    margin-left: 6vw;
}


.envelop {
    display: flex;
    padding-top: 5rem;
    padding-bottom: 6rem;
    border-bottom: 1px #eee solid;
}

@media only screen and (max-width: 426px) {
  #resBtn {
    font-size: 0.8rem;
    width: 20px;
    margin-left: 4vw;
  }

  .results-container {
    height: 100%;
    width: 150%;
    overflow: auto;
  }
  
  .envelop {
      padding-top: 4rem;
      padding-bottom: 4rem;
  }

  .search-icon{
    margin-left: 0px;
  }

}


.errMessage{
  font-size: 2rem;
  margin-top: 2vh;
  margin-left: 5vw;
}