.huge-title {
  font-family: Asap;
  font-style: normal;
  font-weight: 600;
  font-size: 80px;
  line-height: 92px;
}
.info-text {
  font-family: Asap;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 30px;
}