.sentances-div {
    font-family: "Open Sans", sans-serif;
    text-align: center;
    margin-top: 50px;
  }
  
  .think {
    font-size: 15px;
    font-weight: lighter;
    text-align: center;
    color: #212121;
    letter-spacing: 2px;
    opacity: 0.8;
  }