.card-image {
  // height: 150px;
  // width: 150px;
  overflow: hidden;

}

img {
  // max-width: 100%;
  width: 150px;
  height: 150px;
  min-height: 100%;
  object-fit: cover;
  transform: translate(-25%, 0);
}

.card {
  border-radius: 10px;
  // height: 150px;
  
  overflow: hidden;
}
.card-link:hover {
  text-decoration: none;
}

.url {
  font-size: 14px;
  color: rgb(0, 102, 33);
  line-height: 16px;
  margin-top: -2px;
  display: block;
  word-break: break-all;
}
