<div>
  <mat-card class="w-100 my-3 p-0 card">
    <a class="d-flex card-link" [href]="item.url" (click)="linkPressed($event)">
      <div>
        <div class="card-image">
          <img [src]="item.preview_image ? item.preview_image : '/assets/board-item-placeholder.png' "
            alt="Board item image">
        </div>
      </div>
      <div class="px-3 flex-grow-1 d-flex flex-column justify-content-between">
        <div>
          <div class="d-flex justify-content-between">
            <h2 class="m-0">
              {{ item.title }}
            </h2>
            <button class="mt-1" mat-button (click)="markForDelete($event)">
              <mat-icon 
                
                *ngIf="editable 
                && editable == true"
                >delete</mat-icon>

            </button>
          </div>
          <a class="url m-0 py-2" [href]="item.url">
            {{ item.url }}
          </a>
          <p class="m-0">
            {{ item.snippet }}
          </p>
        </div>
        <div class="d-flex justify-content-end">
          <small>
            Added at {{ item.created_at | date:'mediumDate' }}
          </small>
        </div>
      </div>
    </a>
  </mat-card>
</div>