<app-search-bar></app-search-bar>
<div *ngIf="sbService.board; else spinner">
  <app-board-header></app-board-header>
  <div class="mx-2" >
    <ng-template *ngIf="true; else editList" >
      <app-board-item 
        
        *ngFor="let item of sbService.board.items" 
        [item]="item"></app-board-item>
    </ng-template>
    <ng-template #editList>
      <div cdkDropList (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let item of sbService.board.items" cdkDrag>{{item.title}}</div>
      </div>
    </ng-template>
  </div>
</div>

<ng-template #spinner>
  <app-loader></app-loader>
</ng-template>