<app-search-bar></app-search-bar>
<div *ngIf="sbService.board; else spinner">
  <app-board-header></app-board-header>
  <div class="mx-2" >
    <div *ngIf="sbService.editMode === false; else editList" >
      <app-board-item 
        
        *ngFor="let item of sbService.board.items" 
        [item]="item"></app-board-item>
    </div>
    <ng-template #editList>
      <div cdkDropList (cdkDropListDropped)="drop($event)">
        <app-board-item 
        cdkDrag
        *ngFor="let item of sbService.board.items"
        [editable]="true"
        [item]="item"></app-board-item>
      </div>
    </ng-template>
  </div>
</div>

<ng-template #spinner>
  <app-loader></app-loader>
</ng-template>