.load-bar {
  position: relative;
  width: 495px;
  height: 3px;
  bottom: 2px;
  background-color: #ffcb04;
}
.bar {
  content: "";
  display: inline;
  position: absolute;
  width: 0;
  height: 100%;
  left: 50%;
  text-align: center;
}
.bar:nth-child(1) {
  background-color: #e22a52;
  animation: loading 3s linear infinite;
}
.bar:nth-child(2) {
  background-color: #3ec4ba;
  animation: loading 3s linear 1s infinite;
}
.bar:nth-child(3) {
  background-color: #ffcb04;
  animation: loading 3s linear 2s infinite;
}
@keyframes loading {
  from {
    left: 50%;
    width: 0;
    z-index: 100;
  }
  33.3333% {
    left: 0;
    width: 100%;
    z-index: 10;
  }
  to {
    left: 0;
    width: 100%;
  }
}

header {
  padding-top: 58px;
  padding-left: 57px;
  display: flex;
  justify-content: space-between;
}

.about-us {
  position: relative;
  right: 2rem;
  font-size: 1rem;
  border: none;
  font-family: open sans-serif;
  cursor: pointer;
  background: lightgray;
  border-radius: 5px;
}

.small-logo {
  width: 52px;
  height: 32px;
}

.main-logo-div {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.main-logo {
  margin-top: 130px;
}

.input {
  width: 495px;
  margin-top: 19px;
  height: 52px;
  border-left: none;
  border-right: none;
  border-top: none;
  font-size: 18px;
  height: 52px;
  border-bottom: 1px solid darkgrey;
  color: #212121;
  font-family: "Open Sans";
  letter-spacing: 2px;
  padding-left: 5px;
}
input:focus {
  border: none;
  border-bottom: 1px solid #3ec4ba;
  outline: none;
}

.sentances-div {
  font-family: "Open Sans", sans-serif;
  text-align: center;
  margin-top: 50px;
}

.think {
  font-size: 15px;
  font-weight: lighter;
  text-align: center;
  color: #212121;
  letter-spacing: 2px;
  opacity: 0.8;
}

.about {
  font-size: 12px;
  text-align: center;
  color: #757575;
  letter-spacing: 2px;
  margin-top: 19px;
}

.about-us-gr {
  color: #3ec4ba;
  cursor: pointer;
}

.search-icon {
  width: 18px;
  height: 23px;
  position: relative;
  top: 40px;
  right: 18px;
  cursor: pointer;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  height: 18px;
  width: 206px;
  color: #4c4c4c;
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 300;
  line-height: 0;
  padding-top: 10px;
  letter-spacing: 2px;
  padding-left: 5px;
}
::-moz-placeholder {
  /* Firefox 19+ */
  height: 18px;
  width: 206px;
  color: #4c4c4c;
  font-family: "Open Sans";
  font-size: 25px;
  font-weight: 300;
  padding-top: 10px;
  letter-spacing: 2px;
  padding-left: 5px;
}
:-ms-input-placeholder {
  /* IE 10+ */
  height: 18px;
  width: 206px;
  color: #4c4c4c;
  font-family: "Open Sans";
  font-size: 25px;
  font-weight: 300;
  line-height: 0;
  padding-top: 10px;
  letter-spacing: 2px;
  padding-left: 5px;
}
:-moz-placeholder {
  /* Firefox 18- */
  height: 18px;
  width: 206px;
  color: #4c4c4c;
  font-family: "Open Sans";
  font-size: 25px;
  font-weight: 300;
  padding-top: 10px;
  letter-spacing: 2px;
  padding-left: 5px;
}
::-webkit-input-placeholder {
  height: 18px;
  width: 206px;
  color: #4c4c4c;
  font-family: "Open Sans";
  font-size: 25px;
  font-weight: 300;
  letter-spacing: 2px;
  padding-left: 5px;
}
::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-size: 16px !important;
}

footer {
  visibility: hidden;
  position: fixed;
  bottom: 0;
  background: #ffcb04;
  color: #212121;
  font-size: 18px;
  font-family: "Open Sans";
  text-align: center;
  width: 100%;
  -webkit-transition: width 2s; /* Safari */
  transition: width 2s;
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
}

.sentance {
  color: #4c4c4c;
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 300;
}

.send {
  border: none;
  border-radius: 5px;
  margin-left: 1rem;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
  color: #4c4c4c;
  font-family: "Open Sans";
}

.div-close {
  text-align: right;
  padding-right: 3rem;
}
.close {
  width: 20px;
  cursor: pointer;
  position: relative;
  top: 32px;
}

.visible {
  opacity: 1 !important;
}

.error {
  opacity: 0;
  color: red;
  font-family: "Open Sans";
}

.input-div2 {
  text-align: center;
  margin: auto;
}
.input-div {
  display: flex;
  flex-direction: row;
  width: 495px;
  margin-left: 18px;
}

.error-div {
  text-align: center;
  margin: auto;
  padding-top: 0.8rem;
}
@media only screen and (max-width: 600px) {
  .input-div {
    width: 260px;
  }
  .input {
    width: 248px;
  }
  .logomain {
    width: 55% !important;
  }
  .load-bar {
    width: 260px;
  }
  .close {
    top: 3px;
    left: 29px;
  }
}

/*

  .main-logo{
    width: 85%;
    margin-top: 20px;
  }
  .para{
    padding: 1rem;
  }
  .error-div{
    padding-top: 1.8rem;
  }
  .input{
    width: 90%;
  }
  .search-icon{
    right: -10px;
    top: 95px;
  }
  .div-close{
    padding-right: 1.5rem;
  }
  .input-div{
    display: flex;
  }
  .main-logo-div{
    padding: 2rem;
  }
  ::-webkit-input-placeholder {
    font-size: 18px;
  }
  ::-moz-placeholder {
    font-size: 18px;
  }
  :-ms-input-placeholder {
    font-size: 18px;
  }
  :-moz-placeholder {
    font-size: 18px;
  }
  ::-webkit-input-placeholder {
    font-size: 18px;
   }
   .send{
    position: relative;
    top: 10px;
   }
}*/
