<div>
    <app-nav></app-nav>
    <div style="position: relative;">
        <button class="btn btn-light loginBtn" (click)="openLoginDialog()">Log in</button>
        <button class="btn btn-secondary signUpBtn" (click)="openSignUp()">Sign up</button>
        <app-signup *ngIf="signUp== true"></app-signup>
    </div>
    <main>
        <div class="main-logo-div">
            <app-logo class="app-logo"></app-logo>
            <div class="input-div">
                <input class="input" type="text" [(ngModel)]="text" (keyup)="CheckEnterKey($event)" />
                <img class="search-icon" src="/assets/search.svg" (click)="search()" />
            </div>
            <div *ngIf="loadingAnimation" class="load-bar">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
            </div>
        </div>

        <div class="sentances-div">
            <div class="think">
                Search dif<span style="margin-left: 1px;">f</span>erent. Think
                <span style="margin-left: 1px;">dif<span>f</span>erent</span>.
            </div>
        </div>
    </main>
    <footer id="footer">
        <div *ngIf="!afterMail">
            <div class="div-close">
                <img class="close" src="/assets/close-icon.png" (click)="CloseEmail()" />
            </div>
            <div class="para">
                <span class="sentance">Keep up with the Shmoogle story</span>
            </div>
            <br />
            <div class="input-div2">
                <input style="margin-top: 0px !important" class="input" type="mail" placeholder="Enter your E-mail"
                    [(ngModel)]="email" (input)="DisableError()" />

                <button class="send" (click)="Send()">Send!</button>
            </div>
            <div class="error-div">
                <span class="error" [ngClass]="{ visible: error }">Please enter a valid email!</span>
            </div>
        </div>
        <div *ngIf="afterMail" class="sentance">
            <span>Welcome to the Shmoogle Adventure</span>
        </div>
    </footer>
</div>