@import "variables";

.loginBtn{
  margin-right: 15px;
}

.icon {
  height: 40px;  
}
.icon-wrapper {
  padding: 1px;
  
  background: 
    linear-gradient(
    -45deg,
    $shmoogle-yellow,
    $shmoogle-yellow 25%,
    $shmoogle-green 25%, 
    $shmoogle-green 60%,
    $shmoogle-red 60%,
    $shmoogle-red 75%);
}
::ng-deep .mat-menu-content {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}
.mat-menu-item{
  line-height:35px;
  height:35px;
}

.dropdown-icon {
  height: 50px;
}
.dropdown {
  width: 200px;
}