/* .search-icon {
    transform: translate(-90%, 0);
} */

.shw-input-parent {
    min-width: 148px;
    max-width: 442px;
    height: 32px;
    width: 100%;
    margin-left: 15px;
    margin-top: 5px;
}
.shw-input {
    width: 100%;
    border-left: none;
    border-right: none;
    border-top: none;
    font-size: 18px;
    border-bottom: 1px solid darkgrey;
    color: #212121;
    font-family: "Open Sans";
    letter-spacing: 2px;
}

.shw-input:focus {
    border: none;
    border-bottom: 1px solid #3ec4ba;
    outline: none;
}

.flex-wrap {
    flex-wrap: wrap;
}

/* Links */
.links a {
    color: #848484;
    text-decoration: none;
    padding-right: 7px;
    font-size: 15px;
    font-family: "Open Sans";
    letter-spacing: 2px;
}

.links .active {
    color: #d71947;
}

/*Slider*/
.slider {
    margin: auto 0;
}
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 55px;
    height: 34px;
}
  
  /* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
  /*Slider*/
::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
    background-color: #fecd07; /*replace with your color*/
}
  
::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
      background-color: #01b8b3;  /*replace with your color*/
}
  
/* Loading Bar Animation */
.shw-load-animation {
    position: relative;
    width: 100%;
    height: 2px;
    bottom: 2px;
    background-color: #ffcb04;
}

.bar {
    content: "";
    display: inline-block;
    position: absolute;
    width: 0;
    height: 100%;
    left: 50%;
    text-align: center;
}

.bar:nth-child(1) {
    background-color: #e22a52;
    animation: loading 3s linear infinite;
}

.bar:nth-child(2) {
    background-color: #3ec4ba;
    animation: loading 3s linear 1s infinite;
}

.bar:nth-child(3) {
    background-color: #ffcb04;
    animation: loading 3s linear 2s infinite;
}

@keyframes loading {
    from {
        left: 50%;
        width: 0;
        z-index: 100;
    }

    33.3333% {
        left: 0;
        width: 100%;
        z-index: 10;
    }

    to {
        left: 0;
        width: 100%;
    }
}

/* Search Bar nav menu */
.small-logo {
    width: 52px;
    object-fit: contain;
    height: 100%;
}

.logo-link {
    width: 52px;
} 

input:focus {
    border: none;
    border-bottom: 1px solid #3ec4ba;
    outline: none;
}

/* Deprecated for now, awaiting response on slack regarding whether it should be reimplemented */
.sticky {
    position: fixed;
    top: 0;
    overflow: hidden;
    z-index: 10;
    width: 100%;
    background-color: #ffffffbd;
}

.sticky .input {
    background-color: #ffffffbd;
    size: 50%;
}

/* Media Queries */
@media (max-width: 768px) {
    .links {
        flex-basis: 30%;
    }
}