.userData {
  width: 70%;
  height: 25vh;
//   background-color: burlywood;
  margin-right: 5vw;
  margin-left: 15vw;
  border:1px;
  margin-top:10px;
}

.userName {
  font-size: 3vw;
  margin:0;
}

.userNameContainer {
//   margin-left: 10vw;
  justify-content: space-between;
  width: 260px;
  display: flex;
  align-items: center;
  margin-bottom:16px;
}

// .userNameContainer p {
//   display: inline;
// }

.userDataContainer {
//   margin-left: 10vw;
  display: flex;
  width: 35vw;
  justify-content: space-between;
}

.editContainer {
  display: flex;
  justify-content: flex-end;
}

.edit{
    cursor: pointer;
    color:black;
    text-decoration: none;
}

.cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 5vw auto;
  width: 70%;
}

.card-container {
  max-width: 25vw;
  margin-bottom: 10vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 10px;
}

.cardInfo {
  background-color: gray;
  padding-left:5%;
  padding-right:5%;
  padding-top:3%;
  border-radius: 20px;
  
}

.cardInfo h3 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  font-size:3vw;
}

.cardInfo p{
    font-size:1vw;
}

.example-header-image {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
}

.cardData {
  flex-direction: column;
  padding-top:1vh;
}

.cardData p {
  display: inline;
}

.row{
    justify-content: space-between;
    display: flex;
    padding-right:16px;
    padding-left:16px;
    font-size:1vw;
}
