.userData {
  width: 90%;
  height: 25vh;
  background-color: burlywood;
  margin-right: 5vw;
  margin-left: 5vw;
}

.userName {
  font-size: 200%;
}

.userNameContainer {
  margin-left: 10vw;
  justify-content: space-between;
  width: 300px;
  display: flex;
  align-items: center;
}

.userNameContainer p {
  display: inline;
}

.userDataContainer {
  margin-left: 10vw;
  display: flex;
  width: 30vw;
  justify-content: space-between;
}

.editContainer {
  display: flex;
  justify-content: flex-end;
}

.cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 5vw auto;
  width: 70%;
}

.card-container {
  max-width: 25vw;
  margin-bottom: 10vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 10px;
}

.cardInfo {
  background-color: gray;
  padding-left:5%;
  padding-top:3%;
  border-radius: 20px;
}

.cardInfo h3 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.example-header-image {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
}

.cardData {
  flex-direction: column;
  padding-top:1vh;
}

.cardData p {
  display: inline;
}

.row{
    justify-content: space-between;
    display: flex;
    padding-right:1.5vw;
    padding-left:1.5vw;
}
