<p>boards-library works!</p>
<app-search-input></app-search-input>

<div class="userData">
    <div class="editContainer">
        <p>Edit icon</p>
    </div>
    <div class="userNameContainer">
        <p class="userName">User Name</p>
        <p>Edit icon</p>
    </div>
    <div class="userDataContainer">
        26 Boards | 340 Items | 123 Views
    </div>
</div>
<div class="cards">
    <mat-card class="card-container">
        <div class="cardInfo">
            <h3>Board Name</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit, dignissimos! Placeat sint perferendis
                rerum similique obcaecati explicabo adipisci! Laborum, labore atque.</p>

        </div>
        <mat-card-content>
            <div class="cardData">
                <div class="row">
                    <p>567 items</p>
                    <p>123 views</p>
                </div>
                <div class="row">
                    <p>created:01/01/2020</p>
                    <p>public</p>
                </div>
            </div>
            <!-- <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            </p> -->
        </mat-card-content>
        <!-- <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
        </mat-card-actions> -->
    </mat-card>

    <mat-card class="card-container">
        <div class="cardInfo">
            <h3>Board Name</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit, dignissimos! Placeat sint perferendis
                rerum similique obcaecati explicabo adipisci! Laborum, labore atque.</p>
        </div>
        <mat-card-content>
            <div class="cardData">
                <div class="row">
                    <p>567 items</p>
                    <p>123 views</p>
                </div>
                <div class="row">
                    <p>created:01/01/2020</p>
                    <p>public</p>
                </div>
            </div>
        </mat-card-content>
        <!-- <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
        </mat-card-actions> -->
    </mat-card>

    <mat-card class="card-container">
        <div class="cardInfo">
            <h3>Board Name</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit, dignissimos! Placeat sint perferendis
                rerum similique obcaecati explicabo adipisci! Laborum, labore atque.</p>

        </div>
        <mat-card-content>
            <div class="cardData">
                <div class="row">
                    <p>567 items</p>
                    <p>123 views</p>
                </div>
                <div class="row">
                    <p>created:01/01/2020</p>
                    <p>public</p>
                </div>
            </div>
            <!-- <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            </p> -->
        </mat-card-content>
        <!-- <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
        </mat-card-actions> -->
    </mat-card>
    <mat-card class="card-container">
        <div class="cardInfo">
            <h3>Board Name</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit, dignissimos! Placeat sint perferendis
                rerum similique obcaecati explicabo adipisci! Laborum, labore atque.</p>

        </div>
        <mat-card-content>
            <div class="cardData">
                <div class="row">
                    <p>567 items</p>
                    <p>123 views</p>
                </div>
                <div class="row">
                    <p>created:01/01/2020</p>
                    <p>public</p>
                </div>
            </div>
            <!-- <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            </p> -->
        </mat-card-content>
        <!-- <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
        </mat-card-actions> -->
    </mat-card>
</div>