<div class="container containerStyle">
  <div class="header">
    <a href="#">
      <div class="logo"></div>
    </a>
    <span>Welcome to Shmoogle</span>
  </div>
  <form>
    <div class="form-group">
      <input
        type="text"
        class="form-control input"
        id="name"
        placeholder="*Display name"
      />
    </div>
    <div class="form-group">
      <input
        type="email"
        class="form-control input"
        id="email"
        placeholder="*Email"
      />
    </div>
    <div class="form-group">
      <input
        type="password"
        class="form-control input"
        id="password"
        placeholder="*Password (6 or more characters)"
      />
    </div>
    <div class="form-group">
      <input
        type="text"
        class="form-control input"
        id="confirm"
        placeholder="*Confirm Password"
      />
    </div>
    <div class="form-group">
      <input
        type="text"
        class="form-control input"
        id="heard"
        placeholder="How did you find about Shmoogle?"
      />
    </div>
    <button type="button" class="btn btn-secondary">Continue</button>
    <div class="privacy-policy">
      <p>
        By continuing, you agree to Shmoogle's
        <a href="#">Terms and Services</a> &
        <a href="#">Privacy policy</a>
      </p>
    </div>
  </form>

  <div class="footer">
    <p>Already a member? <a href="#">Log in</a></p>
  </div>
</div>
